<h2>This is your shitty song: </h2> <h1><%= @song.title %></h1>
<h2>This is the shitty artist: </h2> <h1><%= @song.artist %></h1>

<%= link_to "Song Index", songs_path%><p>
<%= link_to "Edit this jam", edit_song_path(@song)%><p>
<%= link_to "DESTROY! DESTROY!", song_path(@song), method: :delete %>
